.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login{
  background-color: black;
}
.signup{
  margin-top: 15px;
}
.heading{
  color: cyan;
  padding-top: 40px;
}
.heading1{
  color: black;
  text-align: center;
  font-size: 28px;
  padding-top: 25px;
}
.loginForm{
  margin-top: 50px;
  margin-right: 25px;
  margin-left: 25px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 35px;
  padding-right: 35px;
  border: 1px;
  background-color: white;
}
.register{
  margin-top: 25px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 25px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: floralwhite;
  border-radius: 50px;
}
.welcome{
  background-color: #9261fb;;
  padding-top: 100px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: oblique;
font-variant: small-caps;


}
.formreg{
  background-color: #6d7072;
}
h2,h3{
  text-align: center;
}
.amadis{
  font-size: 80px;
  text-align: center;
}

.navigation{
  background-color: rgb(15, 15, 15);
  padding-top: 25px;
}
.dashboard{
  background-color: rgb(120, 122, 117);
  padding-bottom: 145px;
}
.design{
  margin: 85px 25px;
  padding: 15px 15px;
  background-color: aliceblue;
  border-radius: 10px;
  margin-right: 100px;
  margin-left: 100px;
}
.cname{
  color: white;
  
}
.uname{
  color: rgb(255, 0, 191);
  text-align: left;
  padding-left: 15px;
  margin-top: 25px;
}
.nav{
  font-size: 25px;
}
.nav-link{
  padding-left: 15px;
}
.nav-item{
  padding-right: 10px;
}
.home{
  margin-top: 150px;
  margin-left: 250px;
  font-size: 150px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}
#navbarResponsive{
  font-size: 20px;
  padding-left: 740px;
}
.homebtn{
  background-color: black;
  color: white;
  margin-top: 10px;
  margin-left: 990px;
}
.navbar{
  background-color: blueviolet;
}